{% extends "Offline/base.html" %}

{% block title %}Zaloguj się!{% endblock %}

{% block body %}
    <form action="/login/create" method="post" class="min-vh-100 d-flex">

        <div class="container my-auto">

            <div class="row">
                <h1 class="col-auto mx-auto">Budżet osobisty</h1>
            </div>

            <div class="row">
                <div class="col-3 mx-auto">
                    <div class="form-group">
                        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}"
                        class="form-control" />
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-3 mx-auto">
                    <div class="form-group">
                        <input type="password" id="inputPassword" name="password" placeholder="Password" 
                        class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3 mx-auto d-flex">
                    <label class="mx-auto">
                        <input type="checkbox" name="remember_me"
                        {% if remember_me %}
                            checked="checked"
                        {% endif %}
                        />
                        <span>
                            Zapamiętaj mnie
                        </span> 
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-3 mx-auto">                    
                    <button class="btn btn-primary w-100" type="submit">Zaloguj się</button>                
                </div>
            </div>

            </br>
            <a href="">Forgot password?</a>
            </br>
            <a href="/signup/new">Dont have account yet?</a>   

        </div>       

    </form>
{% endblock %}
