{% extends 'Online/base.html' %}

{% block footer %}
    <script>
        {% if postData is empty %}
            document.getElementById("postDates").submit();
        {% endif %}

        $("#selectPeriod").on('change', () => {
            document.getElementById("postDates").submit();
        });
    </script>
{% endblock %}

{% block title %}Bilans{% endblock %}

{% block body %}

    <h1>BILANS</h1>    

    <form method="post" action="" id="postDates">              

        <div class="form-group">
            <label for="selectPeriod" class="form-label">Okres bilansu:</label>
            <select class="form-select" id="selectPeriod" name="period">      
                {% for period in datePeriodCategories %}
                    {% if postData.period == period %}
                        <option selected>{{ period }}</option>   
                    {% else %}
                        <option>{{ period }}</option>                    
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputDateFrom" class="form-label">Data od:</label>
            <input id="inputDateFrom" name="dateFrom" placeholder="date" type="date"
            class="form-control"
            value="{{ postData.dateFrom }}"
            {% if postData.dateFrom and postData.period != 'Niestandardowy' %} readonly {% endif %}
            required/>
        </div>
        <div class="form-group">
            <label for="inputDateTo" class="form-label">Data do:</label>
            <input id="inputDateTo" name="dateTo" placeholder="date" type="date"
            class="form-control"
            value="{{ postData.dateTo }}"
            {% if postData.dateTo and postData.period != 'Niestandardowy' %} readonly {% endif %}
            required/>
        </div>        

        <button type="submit" class="btn btn-primary">Dodaj</button>
        <a class="btn btn-danger" href="" role="button">Anuluj</a>

    </form>

    {% if incomesSum is not empty %}
        <h4>Przychody:</h4>
        <ul> 
            {% for category, sum in incomesSum %}
                <h5>{{ category }}, razem: {{ sum }}</h5>
                {% if incomes is not empty %}                    
                    <ul>
                        {% for income in incomes %}    
                            {% if income.category == category %}   
                                <li>
                                    <strong>kwota: </strong>{{ income.amount }},
                                    <strong>data: </strong>{{ income.date }},
                                    <strong>kategoria: </strong>{{income.category}},
                                    <strong>komentarz: </strong>{{income.comment}}
                                </li>       
                            {% endif %}                
                        {% endfor %}
                    </ul> 
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}       
    
    {% if expensesSum is not empty %}
        <h4>Wydatki:</h4>
        <ul> 
            {% for category, sum in expensesSum %}
                <h5>{{ category }}, razem: {{ sum }}</h5>
                {% if expenses is not empty %}                    
                    <ul>
                        {% for expense in expenses %}    
                            {% if expense.category == category %}                       
                            <li>
                                <strong>kwota: </strong>{{ expense.amount }},
                                <strong>data: </strong>{{ expense.date }},
                                <strong>metoda płatności: </strong>{{ expense.method }},
                                <strong>kategoria: </strong>{{expense.category}},
                                <strong>komentarz: </strong>{{expense.comment}}
                            </li>      
                            {% endif %}                
                        {% endfor %}
                    </ul> 
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %} 

{% endblock %}
