{% extends 'Online/finance_base.html' %}

{% block title %}Wydatki{% endblock %}

{% block action %}/wydatki/add{% endblock %}

{% block header %}
    <h1>Wydatki</h1>
{% endblock %}

{% block paymentMethod %}
<div>
    <label for="selectMethod" class="form-label">Metoda płatności:</label>
    <select class="form-select" id="selectMethod" name="method">
        {% for method in methods %}
            {% if finance.method == method %}
                <option selected>{{ method }}</option>
            {% else %}
                <option>{{ method }}</option>
            {% endif %}    
        {% endfor %}
    </select>
</div>
{% endblock %}
