{% extends 'Online/finance_base.html' %}

{% block title %}Wydatki{% endblock %}

{% block action %}/wydatki/add{% endblock %}

{% block header %}
    <h1>Wydatki</h1>
{% endblock %}

{% block paymentMethod %}
<div>
    <label for="selectMethod" class="form-label">Metoda płatności:</label>
    <select class="form-select" id="selectMethod" name="method">
        <option selected>Karta kredytowa</option>
        <option>Gotówka</option>
        <option>Karta debetowa</option>
        <option>Inne</option>
    </select>
</div>
{% endblock %}