{% extends 'Online/base.html' %}

{% block body %}   

    {% block header %}
    {% endblock %}

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% block action %}{% endblock %}" id="addIncome">

        <div class="form-group">
            <label for="inputAmount" class="form-label">Kwota:</label>
            <input id="inputAmount" name="amount" placeholder="Kwota"
            class="form-control"
            autofocus required/>
        </div>
        <div class="form-group">
            <label for="inputDate" class="form-label">Data:</label>
            <input id="inputDate" name="date" placeholder="date" type="date"
            class="form-control"
            required
            />
        </div>
        {% block paymentMethod %}
        {% endblock %}
        <div>
            <label for="selectCategory" class="form-label">Kategoria:</label>
            <select class="form-select" id="selectCategory" name="category">                
                {% for category in categories %}
                    <option>{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="textareaComment" class="form-label">Komentarz:</label>
            <textarea class="form-control" id="textareaComment" name="comment" rows="4"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj</button>
        <a class="btn btn-danger" href="" role="button">Anuluj</a>

    </form>

{% endblock %}
